@font-face{
	font-family: "Good Times";
	src: url("../fonts/goodtimes.ttf") format("truetype");
}
@font-face{
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	background-color: white;
	color: white;
	font-size: 16px;
	font-family: Open Sans;
}
.container{
	width: 1030px;
	margin: 0 auto;
}

/*Header*/
header{
	font-family: "Open Sans";
	font-size: 18px;
	background-color: #2c323e;
}
a{
	color: white;
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
.pink {
	color: #ea3565;
}
.width-50{
	width: 50%;
}
.width-25{
	width:25%;
}
.clearfix:after{
    content:"";
    display: block;
    clear: both;
}
.float-left{
	float: left;
}
.head{
	padding: 40px 7px;
	border-bottom: 1px grey solid;
}
.online > a{
	text-align: center;
}
span{
	color: white;
	font-size: 16px;
}
.logo-name{
	display: block;
	font-family: Good Times;
	text-align: center;
}
.logo-name span,
.logo-name span > span{
	font-size: 50px;
}
.logo-slogan{
	font-size: 16px;
	font-family: Open Sans ;
	font-style: italic;
	text-align: center;
}
.contacts a{
	margin: 3px 0;
	display: inline-block;
}
.grey{
	color: grey;
}
.callback{
	position: relative;
}
.callback:after{
	display: block;
	height: 1px;
	background: repeating-linear-gradient(to right, #ea3565, #ea3565 1px, transparent 1px, transparent 3px);
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}
.callback:before{
	display: block;
	height: 1px;
	background: repeating-linear-gradient(to right, black, black 1px, transparent 1px, transparent 3px);
	left: 0;
	content: "";
	right: 0;
	bottom: -1px;
	position: absolute;
 }
.online{
	text-align: right;
}
.appointment{
	text-align: right;
	margin: 10px 28px;
	position: relative;
}
.appointment:after{
	display: block;
	height: 1px;
	background: repeating-linear-gradient(to right, #ea3565, #ea3565 1px, transparent 1px, transparent 3px);
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}
.appointment:before{
	display: block;
	height: 1px;
	background: repeating-linear-gradient(to right, black, black 1px, transparent 1px, transparent 3px);
	left: 0;
	content: "";
	right: 0;
	bottom: -1px;
	position: absolute;
}
.soc_media{
	margin-top: 25px;
}
.soc_media ul{
	font-size: 0;
	list-style: none;
}
.s_media li  {
	display: inline-block;
	font-size: 20px;
	margin: 3px;
}
.s_media > li > a{
	display: block;
	width: 30px;
	height: 30px;
	background-image: url(../images/css_sprites.png);
	background-size: 198px;
	padding: 2px;
	background-position: -157px -10px;
}
.s_media li + li> a{
	background-position: -10px -10px;
}
.s_media li + li + li > a{
	background-position: -108px -10px;
}
.s_media li + li + li + li > a{
	background-position:  -10px -60px;
}
.s_media > li > a:hover{
	background-position:  -157px -59px;
}
.s_media li + li> a:hover{
	background-position: -108px -60px;
}
.s_media li + li + li > a:hover{
	background-position: -59px -10px;
}
.s_media li + li + li + li > a:hover{
	background-position: -59px -60px;
}
.animated a {
	transition-property: background-position;
	transition-delay: 0s;
	transition-timing-function: ease;
}

nav ul {
	font-size: 0;
}
nav ul li{
	font-size: 16px;
	display: inline-block;
	margin: 15px 0;
	position: relative;
}
nav ul li a{
	padding: 10px 15px;
}
header nav>ul>li:after{
	display: block;
	height: 35px;
	width: 1px;
	background: repeating-linear-gradient(#ea3565, #ea3565 1px, transparent 1px, transparent 3px);
	content: "";
	position: absolute;
	top: -11px;
	left: 0;
}
header nav ul li:first-child:after,
header nav ul li:last-child:after{
	content: none;
}
nav ul li a:hover {
	color: #ea3565;
}
.home{
	background-image: url(../images/home.png);
	background-repeat: no-repeat;
	background-position: 5px 11px;
}
.sub-menu{
	display: none;
}
.sub-menu li{
	display: block;
	margin: 0;
	width: 100%;
}
.sub-menu a{
	padding: 8px;
	color: white !important;
	display: block;
	text-align: left;
}
.top-menu:hover .sub-menu{
	display:block;
	width: 145px;
	text-decoration:none;
	position: absolute;
	top: 31px;
	left: 0;
	z-index: 10;
	background-color: #ea3565;
}
.sub-menu a:hover{
	background-color: #483244;
}

#e-shop{
	background-color: #483244;
	border: 1px #ea3565 solid;
	margin-left: 60px;
}
#e-shop:hover{
	background-color: #ea3565;
	cursor: pointer;
	color: white;
}

/*Main*/
.white-container{
	background-color: white;
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 20px;
}

/*Banner*/
.banner {
	text-align: center;
	position: relative;
}
.banner img{
	width: 100%;
}
.text-on-pic {
	position: absolute;
	top: 81px;
	right: 5%;
}
.text-on-pic span{
	margin: 15px;
	display:block;
	text-align: center;
}
.text-on-pic span:nth-child(-n+2){
	text-transform: uppercase;
}
.new{
	font-size: 35px;
}
.text-on-pic span:nth-child(3){
	font-size: 16px;
	margin-bottom: 30px;
}
.text-on-pic span a{
	background-color: #ea3565;
	padding: 8px 20px;
}
.banner ul{
	font-size: 0;
	position: absolute;
	bottom: 35px;
	right: 0;
	left: 0;
}
.banner ul li{
	display: inline-block;
	height: 9px;
	width: 9px;
	margin: 5px;
	background-color: white;
	box-shadow: 0 0 3px 0 #494e58;
}
.active{
	background-color: #ea3565 !important;
}

/*Courses*/
.courses{
	font-size:0;
	margin-top: 20px;
	margin-bottom: 20px;
}
.firstbg, .secondbg, .thirdbg{
	display: inline-block;
	width: 320px;
	height: 149px;
	margin-right: 35px;
	vertical-align: middle;
	position: relative;
}
.thirdbg{
	margin-right: 0;
}
.firstbg{
	background-image: url("../images/course1.png");
	width: 320px;
	height: 149px;
	position: relative;
	content: "";
	background-color: #ea3565;
	opacity: 0.7;
}
.courses-text{
	font-size: 20px;
	font-weight: lighter;
	position: absolute;
	top: 10px;
	left: 10px;
	border: 1px dotted white;
	z-index: 15;
	padding: 15px 21px;
	right: 10px;
	bottom: 10px;
	background: transparent;
}
.firstbg:after {
	content: "";
	position: absolute;
	background: #6f0b26d1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: 0.5s;
}
.secondbg{
	background-image: url("../images/course2.png");
	width: 320px;
	height: 149px;
	position: relative;
	content: "";
	background-color: #ea3565;
	opacity: 0.7;
}
.secondbg:after{
	content: "";
	position: absolute;
	background: #d41e4f94;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: 0.5s;
}
.thirdbg{
	background-image: url("../images/course1.png");
	width: 320px;
	height: 149px;
	position: relative;
	content: "";
	background-color: #ea3565;
	opacity: 0.7;
}
.thirdbg:after{
	content: "";
	position: absolute;
	background: #ff002fad;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: 0.5s;
}

.firstbg:hover:after, .secondbg:hover:after, .thirdbg:hover:after {
	background: #000000cc;
	cursor: pointer;
}
.courses-text:hover{
	cursor: pointer;
}

/*About section*/
.about{
	margin-top: 30px;
	margin-bottom: 30px;
}
h2{
	color: black;
	font-size: 32px;
	text-align: center;
	padding-bottom: 15px;
	border-bottom: 1px #a4a4a5 solid;
}
.about p{
	margin-top: 15px;
	color: dimgrey;
}

/*News*/
.news{
	margin-top: 20px;
	margin-bottom: 20px;
	color: dimgrey;
	font-size:0 ;
}
.post-preview{
	font-size: 14px;
	display: inline-block;
	width: 30%;
	margin: 16px;
	position: relative;
}
.post-preview p{
	margin: 10px 0;
}
.post-preview a,
.post-preview span{
	color: #a4a4a5;
}
.post-preview a{
	display: block;
	text-align: right;
}
.post-preview:after{
	display: block;
	height: 122px;
	width: 1px;
	background: repeating-linear-gradient(#bdbdbf, #bdbdbf 1px, transparent 1px, transparent 3px);
	content: "";
	position: absolute;
	bottom: 0;
	right: -16px;
}
.post-preview:last-child:after{
	content: none;
}

/*Footer*/
footer{
	padding-bottom: 20px;
	background-color: #2c323e;
}
footer nav{
	text-align: center;
}
footer nav ul li:before {
	display: block;
	height: 35px;
	width: 1px;
	background: repeating-linear-gradient(#ea3565, #ea3565 1px, transparent 1px, transparent 3px);
	content: "";
	position: absolute;
	top: -9px;
	left: 0;
}
footer nav ul li:last-child:after{
	display: block;
	height: 35px;
	width: 1px;
	background: repeating-linear-gradient(#ea3565, #ea3565 1px, transparent 1px, transparent 3px);
	content: "";
	position: absolute;
	top: -9px;
	right: 0;
}
footer .head{
	border-top: 1px grey solid;
}
.copyright {
	padding: 15px;
	text-align: center;

}
.copyright span,
.copyright img{
	display: inline-block;
	margin-right: 5px;
}
.copyright img{
	background-color: #ea3565;
	vertical-align: middle;
}